In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score


# boston = datasets.load_boston()
# print(boston.data.shape, boston.target.shape)
test = pd.read_csv("./test.csv")
train = pd.read_csv("./train.csv")

In [9]:
y = train['price']
del train['price']

In [10]:
train_len = len(train) # 둘을 합치기 전에, 구분점(train의 길이)을 저장
data = pd.concat((train, test), axis=0)  # 합침

In [11]:
sub_id = data['id'][train_len:] # train만 저장
del data['id']

In [12]:
data['date'] = data['date'].apply(lambda x : str(x[:6])).astype(float) # 앞에 6개만 자르고, str로 바꿔서 저장
data.tail()

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6463,201406.0,3,1.75,1500,11968,1.0,0,0,3,6,1500,0,2014,0,98010,47.3095,-122.002,1320,11303
6464,201501.0,3,2.00,1490,1126,3.0,0,0,3,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
6465,201502.0,3,2.50,1310,1294,2.0,0,0,3,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
6466,201406.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
6467,201501.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287

In [13]:
sub = data.iloc[train_len:, :] # test
x = data.iloc[:train_len, : ] # train

In [14]:
x_train, x_test, y_train, y_test = train_test_split(
    x,y, test_size=0.4, random_state=0)

In [15]:
estimator = Lasso(alpha=1.0)

estimator.fit(x_train, y_train)

C:\ProgramData\Anaconda3\envs\sbs36\lib\site-packages\sklearn\linear_model\coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [16]:
y_predict = estimator.predict(sub).flatten()

In [19]:
sub = pd.DataFrame(data={'id':sub_id, 'price':y_predict})

In [20]:
sub.to_csv("1st_lasso.csv", index=False)

In [4]:
score = r2_score(y_train, y_predict)
print(score)

0.7090184627335478

In [5]:
y_predict = estimator.predict(x_test)
score = r2_score(y_test, y_predict)
print(score)

0.6188175187448849

1st lasso = 205,241 = 04/06